* {
    padding: 0;
    margin: 2px 0;
    box-sizing: border-box;
}

.nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

a img {
    height: 30px;
}

h1 {
    padding: 15px 10px;
}

.con {
    background-image: url(img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    height: 800px;
}

.contain1 {
    background-color: #70ad12bf;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contain div {
    text-align: center;
}

.us {
    padding: 250px 30px;
    width: 400px;
}

h2 {
    background-color: #000000cc;
    color: #70ad12bf;
    border: 2px solid black;
}

p {
    color: white;
}

button {
    margin-left: 100px;
}

.bt {
    background-color: #70ad12bf;
    padding: 7px 25px;
    border-radius: 10px;
    color: white;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.imgfoot {
    width: 350px;
    height: 350px;
}

.img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.contain2 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    width: 700px;
}

.divfooter {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 12px;
}